
@{
    ViewBag.Title = "Add";
}


<fieldset id="create-movie">
    <legend>Add a new movie to the catalog</legend>
    <form data-bind="submit: save, enable: !isSaving()">
        <label for="title">Title</label>
        <input type="text" name="title" data-bind="value: title" placeholder="Type something…">
        
        <label for="description">Description</label>
        <textarea name="description" data-bind="value: description" placeholder="Type something…"></textarea>
        <button type="submit">Save</button>  
    </form>
</fieldset>

@section scripts{
    
    <script src="~/public/js/movie/CreateMovieViewModel.js"></script>
    <script>
        $(function() {
            ko.applyBindings(new CreateMovieViewModel(), document.getElementById("create-movie"));
        })
    </script>
}
