<div class="top-five" id="top-five">
    <ul class="search-results clearfix" data-bind="foreach: movies, visible: !isLoading()">
        <li>
            <a href="" data-bind="attr: { href: '/movie/details?title='+title }">
                <img height="239" data-bind="attr: { src: '/movie/poster/'+ title }" />
                <p>
                    <strong data-bind="text: title"></strong>
                </p>
            </a>
        </li>
    </ul>
</div>

@section scripts{
    
    <script src="~/public/js/top5/TopFiveViewModel.js"></script>
    
    <script>
        ko.applyBindings(new TopFiveViewModel(), document.getElementById('top-five'));
    </script>
}
