<div class="top-five" id="top-five" ng-controller="MovieList">
    <ul class="genre-list">
        <li class="genre-list-item selectable"
            ng-repeat="genre in genres"
            ng-class="{selected: $parent.selectedGenre == genre}"
            ng-click="toggleGenre(genre)">{{ genre }}</li>
    </ul>
    <ul class="search-results clearfix">
        <li ng-repeat="movie in movies | filter:selectedGenre">
            <a ng-href="/movie/details?title={{movie.title}}">
                <img height="239" ng-src="/movie/poster/{{movie.title}}" />
                <p>
                    <strong>{{ movie.title }}</strong>
                </p>
            </a>
        </li>
    </ul>
    
</div>



@section scripts{
    
<script src="~/public/movies/FrontPageMovieList/MovieList.js"></script>
    <script src="~/public/js/top5/TopFiveViewModel.js"></script>
    
    <script>
        ko.applyBindings(new TopFiveViewModel(), document.getElementById('top-five'));
    </script>
}
